.BlockCards{
    background-color: #FFFFFF;
    border: 1px solid #E9ECEF;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 40px;
    
  
   
}