.Edit {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .Titel {
    display: flex;
    padding: 15px;
    font-family: Wix Madefor Display;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.68px;
    text-align: left;
    color: #000000;
  }

  .InputList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
    input {
      font-family: Wix Madefor Display;
      font-size: 13px;
      font-weight: 400;
      line-height: 16.38px;
      text-align: left;
      color: #000000;
      background: #f8f9fa;
      outline: none;
      border-radius: 10px;
      padding: 14px;
      border: none;
    }
    div {
      display: flex;
      justify-content: space-between;
      background-color: #f8f9fa;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
      align-items: center;
      P {
        font-family: Wix Madefor Display;
        font-size: 13px;
        font-weight: 400;
        line-height: 16.38px;
        text-align: left;
        color: #000000;
      }
    }
  }

  .ButtonList {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 30px;
    padding-top: 0px;

    button {
      display: flex;
      align-content: center;
      padding: 10px;
      background: #f83d3d;
      border-radius: 10px;
      border: none;
      align-items: center;
      svg {
        color: #fff;
        font-size: 20px;
      }
    }

    button:nth-child(2) {
      background: #017dc3;
    }
  }
}
