input {
    font-family: Wix Madefor Display;
    font-size: 13px;
    font-weight: 400;
    line-height: 16.38px;
    text-align: left;
    color: #000000;
    background: #f8f9fa;
    outline: none;
    border-radius: 10px;
    padding: 14px;
    border: none;
  }