@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");

.page {
  padding: var(--pading);
  .titel {
    padding: var(--pading);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #e9ecef;
    h3 {
      padding: 0;
      margin: 0;
      font-family: "Wix Madefor Display", sans-serif;
      font-size: 17.98px;
      font-weight: 500;
      line-height: 22.65px;
      text-align: left;
    }

    svg {
      cursor: pointer;
    }
  }
  .from {
    padding: var(--pading);
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 0px;
    .from1 {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 25px;

      label {
        display: flex;
        flex-direction: column;

        gap: 10px;
        p {
          font-family: "Wix Madefor Display", sans-serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 18.9px;
          text-align: left;

          color: #000;
          span {
            color: red;
          }
        }
        input {
          border-radius: 10px;
          border: 1px solid #eceef1;

          font-family: "Wix Madefor Display";
          font-size: 13px;
          font-weight: 400;
          line-height: 16.38px;
          outline: none;
          text-align: left;
          padding: 10px 15px 10px 15px;
          cursor: pointer;
        }
        select {
          border-radius: 10px;
          border: 1px solid #eceef1;
          cursor: pointer;

          font-family: "Wix Madefor Display";
          font-size: 13px;
          font-weight: 400;
          line-height: 16.38px;
          outline: none;
          text-align: left;
          padding: 10px 15px 10px 15px;
        }
      }
    }
    .from2 {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .from2Accordion {
        width: 100%;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        display: flex;
        border: 1px solid #eceef1;

        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        p {
          color: #888888;
          font-size: 13px;
          font-weight: 400;
          line-height: 16.38px;
          text-align: left;
        }
      }
    }
    .from3 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      div {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        button {
          padding: 14px;
          background: #f8f9fa;
          font-family: Wix Madefor Display;
          font-size: 13px;
          font-weight: 400;
          line-height: 16.38px;
          text-align: left;
          color: #000;
          border-radius: 8px;
          border: none;
        }
        .activeTeethColorIndex {
          background: #017dc3;
          color: #fff;
        }
      }
    }
  }
}
